header {
  overflow-x: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header h1 {
  font-size: 51pt;
}

header h2 {
  font-family: 'Roboto';
  font-size: 15pt;
}

header h1, header h2 {
  color: #FFC700;
  width: 100%;
}

.website-heading {
  width: auto;
  margin: 40px;
}

.tilt {
  -webkit-transform: rotate(-21deg);
          transform: rotate(-21deg);
}

.intro-text {
  padding: 100px 20px 0px 0px;
}

.section-title-stripe {
  position: absolute;
  z-index: -200;
  background-color: #10AAB4;
  height: 600px;
}

footer {
  background-color: #323232;
  color: #555;
  height: 500px;
}

footer {
  grid-column: 1 / -1;
}

@media (max-width: 554px) {
  header {
    margin-top: -7px;
    grid-column: 1 / -1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header-background {
    position: absolute;
    z-index: -100;
    background-color: #323232;
    width: 140vw;
    height: 350px;
    margin-left: -20%;
    margin-top: -50px;
  }
  .header-background-stripe {
    position: absolute;
    z-index: -200;
    background-color: #10AAB4;
    width: 140vw;
    height: 300px;
    margin-left: -20%;
    margin-top: 50px;
  }
  nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  .section-title-stripe {
    width: 140vw;
    margin-top: -50px;
    margin-left: -60%;
    right: -25%;
  }
  .intro-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
}

@media (min-width: 555px) {
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-background {
    position: absolute;
    z-index: -100;
    background-color: #323232;
    top: -230px;
    height: 600px;
    width: 800px;
  }
  .header-background-stripe {
    position: absolute;
    z-index: -200;
    background-color: #10AAB4;
    top: -220px;
    height: 600px;
    width: 800px;
  }
  .intro-text {
    grid-column: 2 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-menu {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .section-title-stripe {
    top: 585px;
    width: 150vw;
    height: 400px;
    left: -180px;
    grid-column: 1 / -1;
  }
}

@media (min-width: 555px) and (max-width: 899px) {
  .header-background {
    left: -480px;
  }
  .header-background-stripe {
    left: -485px;
  }
}

@media (min-width: 900px) {
  .header-background {
    left: -300px;
    top: -600px;
    width: 1000px;
    height: 1000px;
  }
  .header-background-stripe {
    left: -305px;
    top: -587px;
    width: 1000px;
    height: 1000px;
  }
}

@media (min-width: 1500px) {
  .intro-text {
    font-size: 21pt;
    margin-top: -180px;
  }
  header h1 {
    font-size: 89pt;
  }
  nav {
    margin-top: -210px;
    margin-left: 50px;
  }
}
/*# sourceMappingURL=Header.css.map */