$dteal: rgb(0, 116, 124);
$teal: #10AAB4;
$lteal: #94d0d4;
$dbrown: #323232;
$black: #393939;
$yellow: #FFC700;
$codesnip-bg: rgb(59, 59, 59);
$codesnip-txt: #FFC700;;
$dark-grey: #333;

$border-radius: .2rem;


$large-font: 'Archivo Black';
$thin-font: 'Roboto';
$code-font: 'monospace';