@import 'vars';

.about-author{
    color: $dbrown;
    width: 100%;
    margin: 30px auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    img.selfie {
        width: 200px;
        height: 200px;
        margin: 30px;
    }
}