@import 'vars';

.App {
  text-align: center;
  width: 100vw;
  font-size: 62.5%;
  overflow: hidden;
}

a:link {
  color: $teal;
}

a:visited {
  color: $dbrown;
}

a:hover {
  color: $teal 
}

a:active {
  border-radius: 5px;
  background-color: $dbrown;
  color: $teal;
}

a:focus {
  border: 0px solid rgb(209, 0, 0);
  border-radius: 5px;
  background-color: $teal;
  color: white;
}
